.mainBlock {
    position: relative;
    width: 100%;
    min-height: 56.25vw;
    background: url(../img/bg1.png) no-repeat;
    background-position: center;
    background-size: cover;
    .header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        padding: 30px 0;
        &--content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .social {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item {
                user-select: none;
                width: 109px;
                height: 109px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
                margin-right: 66px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .2s;
                &:hover {
                    animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
                }
                &:last-child {
                    margin: 0;
                }
                &.logo {
                    background: url(../img/ico/logo.png) no-repeat;
                    background-position: center;
                }
                &.discord {
                    background: url(../img/ico/discord.png) no-repeat;
                    background-position: center;
                }
                &.twiter {
                    background: url(../img/ico/twiter.png) no-repeat;
                    background-position: center;
                }
                &.opensea {
                    background: url(../img/ico/opensea.png) no-repeat;
                    background-position: center;
                }
                &.coming {
                    cursor: default;
                    &:hover {
                        animation: none;
                    }
                }
                &.coming::after {
                    position: absolute;
                    bottom: -35px;
                    content: 'Coming soon';
                    display: block;
                    width: 70px;
                    height: 70px;
                    background: #CE0031;
                    border: 1px solid #410F08;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    border-radius: 50px;
                    font-size: 18px;
                    color: #FFCB06;
                    padding: 10px;
                    box-sizing: border-box;
                    cursor: default;
                    user-select: none;
                }
            }
        }
        .btn {
            user-select: none;
            min-width: 269px;
            min-height: 86px;
            background: #CE0031;
            border: 1px solid #550003;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 100px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            color: #ffffff;
            transition: all .2s;
            &:hover {
                animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
            }
        }

    }  
    .content {
        position: absolute;
        bottom: -2%;
        right: 10%;
        width: 34.95vw;
        height: 36.67vw;
        background: url(../img/list1.png) no-repeat;
        background-size: cover;
        padding-top: 6.66vw;
        padding-left: 5.99vw;
        padding-right: 4.79vw;
        padding-bottom: 6.08vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        font-family: 'TedescaLamont';
        ul {
            text-align: center;
            list-style: none;
            padding: 0;
            li {
                font-size: 1.30vw;
                letter-spacing: 0.02em;
                color: #8B0624;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            }
        }
        p {
            margin: 0;
            font-size: 1.30vw;
            text-align: center;
            letter-spacing: 0.02em;
            color: #2E1918;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        }
    }
}

@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-5deg);
    }
    20%, 40% {
        transform: rotate(5deg);
    }
}
@media (max-width: 1200px) {
    .header {
        zoom: .8;
    }
}
@media (max-width: 900px) {
    .header {
        zoom: .6;
    }
}
@media (max-width: 600px) {
    .mainBlock {
        background: url(../img/bg-mobile.png) no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 160vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
            left: 0;
            right: 0;
            bottom: 10%;
            width: 96.33vw;
            height: 101vw;
            padding-top: 18.33vw;
            padding-bottom: 12.33vw;
            ul {
                li {
                    font-size: 3.5vw;
                }
            }
            p {
                font-size: 3.5vw;
            }
        }
    }
    .header {
        zoom: .5;
    }
}
@media (max-width: 500px) {
    .header {
        zoom: .4;
    }
}
@media (max-width: 400px) {
    .header {
        zoom: .3;
    }
}
@media (max-width: 300px) {
    .header {
        zoom: .2;
    }
}